<mat-toolbar class="toolbar toolbar-medium">
    <div class="menu-spacer"></div>
    <span>Creador de sitios</span>
    <span class="example-spacer"></span>
    <ng-template [cdkPortalOutlet]="selectedButtonsPortal"></ng-template>
</mat-toolbar>
<ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
<ng-template #listPortalContent>
    <div class="example-container">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
        </div>
        <div class="example-table-container">
            <mat-form-field class="search" color="accent" floatLabel="never" *ngIf="searching">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
            </mat-form-field>
            <table mat-table [dataSource]="data" class="example-table mat-elevation-z4" matSort matSortActive="created"
                matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>
                <ng-container matColumnDef="updated">
                    <th mat-header-cell *matHeaderCellDef>Actualizado</th>
                    <td mat-cell *matCellDef="let row">{{row.updated | date}}</td>
                </ng-container>
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="accent" (click)="openSite(row._id)" aria-label="Editar pagina">
                            <span class="material-icons">
                                edit
                            </span>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</ng-template>
<ng-template #upsertPortalContent>
    <div id="gjs"></div>
</ng-template>
<ng-template #previewPortalContent>
    Preview
</ng-template>
<ng-template #listPortalButtonsContent>
    <button mat-icon-button (click)="searching=!searching;applyFilter({target:{value:''}});"
        class="example-icon favorite-icon" aria-label="Buscar sitio">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="createSite()" class="example-icon" aria-label="Agregar sitio">
        <mat-icon>note_add</mat-icon>
    </button>
</ng-template>
<ng-template #upsertPortalButtonsContent>
    <button mat-icon-button (click)="removeSite()" class="example-icon favorite-icon" aria-label="Restablecer">
        <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button (click)="updateSite()" class="example-icon favorite-icon" aria-label="Restablecer">
        <mat-icon>build_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="restore()" class="example-icon favorite-icon" aria-label="Restablecer">
        <mat-icon>restore</mat-icon>
    </button>
    <button mat-icon-button (click)="upsertSiteHTML()" class="example-icon favorite-icon" aria-label="Guardar">
        <mat-icon>publish</mat-icon>
    </button>
    <button mat-icon-button (click)="displayList()" class="example-icon" aria-label="Cerrar">
        <mat-icon>close</mat-icon>
    </button>
</ng-template>
<ng-template #previewPortalButtonsContent>
    <button mat-icon-button (click)="selectPortalToDisplay(listPortal, listButtonsPortal)" class="example-icon"
        aria-label="Cerrar">
        <mat-icon>close</mat-icon>
    </button>
</ng-template>
<ng-template #newSiteDialog let-data>
    <h2 mat-dialog-title>{{data?.isEdit?'Editar sitio':'Crear sitio'}}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>Opciones de sitio:</h3>
        <form class="example-form">
            <mat-form-field class="example-full-width" color="accent">
                <mat-label>Nombre</mat-label>
                <input type="name" #name matInput [formControl]="nameFormControl" placeholder="Mi sitio asombroso">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    Nombre es <strong>necesario para continuar</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="{name:name.value}" cdkFocusInitial>Guardar</button>
    </mat-dialog-actions>
</ng-template>