:host {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .search .mat-form-field-wrapper {
    padding-bottom: 0;
}

:host ::ng-deep .search .mat-form-field-underline {
    bottom: 0;
}

.example-container {
    position: relative;
    flex-grow: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.search {
    width: 80%;
}

.example-table-container {
    width: 100%;
    height: 100%;
    position: relative;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

table {
    width: 100%;
    width: 95%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.mat-paginator {
    width: 100%;
}

td.mat-column-actions {
    width: 40px;
}

mat-toolbar span {
    font-size: 4vmin;
}

#gjs {
    height: calc(100% - 55px) !important;
}

.example-form {
    display: flex;
    flex-direction: column;
}
