:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

:host ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
    margin: 8px;
}

mat-tab-group {
    width: 100%;
    height: calc(100% - 55px);
}

mat-toolbar span {
    font-size: 4vmin;
}

mat-tab {
    height: 100%;
}

.example-delete-tab-button {
    position: absolute;
    right: 0px;
}

.example-card {
    margin: 5px;
}

.card-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.container {
    display: flex;
}

.example-header-image {
    margin: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .material-icons {
        font-size: 30px;
    }
    span {
        cursor: default;
    }
}

.name {
    font-size: 3vmin;
}

.status {
    font-size: 2vmin;
    width: 10vmin;
    display: flex;
    justify-content: flex-end;
}

.status-dom {
    font-size: 2vmin;
    width: 6vmin;
}

.dot-stat{
    font-size: 2vmin;
    width: 5vmin;
}

.dot-stat-dom{
    font-size: 2vmin;
    width: 3vmin;
}

.nerd-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.sync {
    font-size: 2vmin;
    margin-left: 10px;
}

.erase {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 10px;
    color: #8f8f8f;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
    span {
        cursor: default;
    }
}

.dot-stat {
    font-size: 2vmin;
    margin-right: 5px;
    color: #69f0ae;
    display: flex;
    justify-content: center;
}

.offline {
    color: #f06969;
}

.online {
    color: #69f0ae;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        cursor: default;
    }
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

mat-slide-toggle {
    margin: 1px;
    position: absolute;
    right: 10px;
}
