<mat-toolbar class="toolbar toolbar-medium">
    <div class="menu-spacer"></div>
    <span>Servidor</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="createDomain()" matTooltip="Nuevo dominio" class="example-icon"
        aria-label="Agregar sitio">
        <mat-icon>note_add</mat-icon>
    </button>
</mat-toolbar>
<mat-tab-group mat-align-tabs="start" color="accent" [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.name">
        <button mat-icon-button class="example-delete-tab-button" *ngIf="tab.name !== 'Dominios'"
            [disabled]="tab.name === 'Dominios'" (click)="removeTab(index)">
            <span class="material-icons">
                close
            </span>
        </button>
        <ng-container *ngTemplateOutlet="tab.name === 'Dominios'?domains:domain;context:{tab:tab}">
        </ng-container>
    </mat-tab>
</mat-tab-group>
<ng-template #domains let-tab="tab">
    <div class="card-list">
        <mat-card class="example-card" *ngFor="let d of domainList">
            <mat-card-content class="container">
                <div class="info">
                    <span class="name link" (click)="visitSite(d.name)"
                        matTooltip="Visitar">{{d.name}}{{baseDomain?'.'+baseDomain:''}}{{basePort?':'+basePort:''}}

                    </span>
                    <mat-slide-toggle [checked]="d.enabled" (change)="toggleEnable(d.name, $event)"
                        matTooltip="{{!d.enabled?'Activar':'Desactivar'}}">
                    </mat-slide-toggle>
                    <div class="line">
                        <span class="material-icons dot-stat-dom" [ngClass]="{online: d.enabled, offline:!d.enabled}">
                            workspaces
                        </span>
                        <span class="status-dom">{{d.enabled?'Online':'Offline'}}</span>
                        <span *ngIf="d.enabled" class="material-icons sync link" (click)="syncDomain(d.name, d.address)"
                            matTooltip="Sincronizar">
                            sync
                        </span>
                        <span (click)="openDomain(d.name)" matTooltip="Editar" class="material-icons sync link">
                            tune
                        </span>
                        <span class="material-icons sync link" matTooltip="Eliminar" [matMenuTriggerFor]="menu"
                            aria-label="Borrar">delete</span>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleteDomain(d.name)">
                                <mat-icon>delete</mat-icon>
                                <span>Si, eliminar</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="line">
                        <span class="status">Vistas</span>
                        <span class="dot-stat">
                            {{d.viewCount}}
                        </span>
                        <span class="status">Activos</span>
                        <span class="dot-stat">
                            {{d.wires}}
                        </span>
                        <span class="status">Respaldos</span>
                        <span class="dot-stat">
                            {{d.backups}}
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</ng-template>
<ng-template #domain let-tab="tab">
    <div>{{tab|json}}</div>
</ng-template>
<ng-template #newDomainDialog let-data>
    <h2 mat-dialog-title>{{data?.isEdit?'Editar dominio':'Crear dominio'}}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>Opciones de dominio:</h3>
        <form class="example-form">
            <mat-form-field class="example-full-width" color="accent">
                <mat-label>Nombre</mat-label>
                <input type="name" #name matInput [formControl]="nameFormControl" placeholder="Mi sitio asombroso"
                    autocomplete="off">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    Nombre es <strong>necesario para continuar</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="{name:name.value}" cdkFocusInitial>Guardar</button>
    </mat-dialog-actions>
</ng-template>