<!DOCTYPE html>
<html lang="es">

<head>
    <title>entwine</title>
    <%- include('./head'); %>
</head>

<body>
    <div class="container">
        <h1 class="header">HYP2P - Entwine Portal</h1>
        <h2 class="header">[<%=subdomain %>.<a href="//<%=domain %>"><%=domain %></a>] Not entangled </h2>
        <a class="btn" href="//<%=domain %>">
            <i class="material-icons right">arrow_forward</i>
            Get started!</a>
    </div>
    <%- include('./footer'); %>
</body>

</html>