<footer>samuel.herrera/@Impresionante-mx
    Open Source: <a href="https://github.com/chr15m/bugout">bugout</a> | <a
        href="https://github.com/webtorrent/webtorrent">webtorrent</a> | <a
        href="https://github.com/localtunnel/server">localtunnel</a> | <a href="https://sslip.io/">sslip.io</a>
</footer>