<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="./resources/favicon.ico">
<link rel="stylesheet" href="./resources/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="//unpkg.com/@pollyjs/core"></script>
<script src="//unpkg.com/@pollyjs/adapter-fetch"></script>
<script src="//unpkg.com/@pollyjs/adapter-xhr"></script>
<script src="//unpkg.com/@pollyjs/persister-local-storage"></script>
<script src="//chr15m.github.io/bugout/bugout.min.js" type="application/javascript"></script>
<script src="//unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
<script src="./resources/ejs.min.js"> </script>
<script src="./resources/init-modules.js"></script>