<!DOCTYPE html>
<html lang="es">

<head>
    <title>entwine-portal</title>
    <%- include('./head'); %>
</head>

<body>
    <div class="container">
        <h1 class="header">HYP2P - Entwine Portal</h1>
        <a class="btn" href="/hyp2p"><i class="material-icons right">arrow_forward</i>Get started!</a>
    </div>
    <%- include('./footer'); %>
</body>

</html>