<!DOCTYPE html>
<html lang="es">

<head>
    <title>HYP2P</title>
    <%- include('./head'); -%>
        <script type="module">
            import loader from '//unpkg.com/uce-loader?module';
            import { define, render, html, svg, css } from 'https://unpkg.com/uce?module';
            window.define = define, window.render = render, window.html = html, window.svg = svg, window.css = css;
            loader({
                container: document.body,
                on(newTag) {
                    const js = document.createElement('script');
                    js.src = `resources/components/${newTag}.js`;
                    document.head.appendChild(js);
                }
            });
        </script>
        <script src="./resources/portal.js"> </script>
</head>

<body onload="init()">
    <div id="payload" data-data=<%=data %>></div>
    <div class="container">
        <div class="row">
            <img src="./resources/hyp2p_logo.png" alt="Logo" class="logo">
            <div class="col">
                <h1 class="header">Entwine Portal</h1>
                <div class="row">
                    <div class="input-field ">
                        <input id="subdomain" type="text" onkeypress="storeSubdomain()">
                        <label for="subdomain">Subdomain</label>
                    </div>
                    <a class="waves-effect waves-light btn" id="update-btn" onclick="entanglePortal()">
                        <i class="material-icons">autorenew</i>
                    </a>
                </div>
            </div>
        </div>
        <my-counter></my-counter>
        <pre id="log"></pre>
        <%- include('./footer'); -%>
    </div>
</body>

</html>