.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
:host ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 5px;
    button {
        margin: 5px;
    }
}

.floating {
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 10;
    color: #69f0ae;
    background: transparent;
    border: solid 1px rgba(255, 255, 255, 0.12);
}

.floating-2 {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    opacity: 0.5;
}

.spacer {
    flex-grow: 1;
}

.active-link {
    color: #69f0ae;
}
