<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" position="start" mode="side" opened="false">
        <button mat-button color="accent" (click)="drawer.toggle()" matTooltip="Ocultar"><span class="material-icons">
                keyboard_backspace
            </span></button>
        <img width="70px" src="../assets/hyp2p_logo.png" alt="Logo">
        <mat-divider style="margin: 5px;"></mat-divider>
        <button routerLink="dashboard" routerLinkActive="active-link" mat-stroked-button matTooltip="Dashboard" aria-label="Centro de mando">
            <span class="material-icons">
                dashboard
            </span></button>
        <button routerLink="/server" routerLinkActive="active-link" mat-stroked-button matTooltip="Servidor" aria-label="Servidor">
            <span class="material-icons">
                storage
            </span>
        </button>
        <button routerLink="/site-creator" routerLinkActive="active-link" mat-stroked-button matTooltip="Creador de sitios"
            aria-label="Servidor de contenido">
            <span class="material-icons">
                developer_board
            </span>
        </button>
        <button routerLink="/statistics" routerLinkActive="active-link" mat-stroked-button matTooltip="Estadisticas y logs"
            aria-label="Estadisticas y logs">
            <span class="material-icons">
                assessment
            </span>
        </button>
        <button routerLink="/payments" routerLinkActive="active-link" mat-stroked-button matTooltip="Monetización" aria-label="Monetización">
            <span class="material-icons">
                payments
            </span>
        </button>
        <button routerLink="/security" routerLinkActive="active-link" mat-stroked-button matTooltip="Seguridad" aria-label="Seguridad">
            <span class="material-icons">
                security
            </span>
        </button>
        <div class="spacer"></div>
        <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons">
                account_circle
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/settings" routerLinkActive="active-link">Configuración</button>
            <button mat-menu-item>Salir</button>
        </mat-menu>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<button mat-fab color="accent" class="floating" type="button" mat-button (click)="drawer.toggle()" *ngIf="!drawer.opened">
    <span class="material-icons">
        menu
    </span>
</button>
<img width="70px" hidden src="../assets/hyp2p_logo.png" alt="Logo" [ngClass]="{'floating-2': !drawer.opened}">