body {
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

pre,
.header,
footer,
input {
    color: #def;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

pre {
    overflow-y: auto;
    flex-grow: 1;
    border: solid 1px white;
    padding: 5px;
}

.header {
    text-align: center;
}

footer {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.row > * {
    margin: 5px;
}

.col {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 11em;
}
