/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.159);
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
    outline: 1px solid #424242;
}

.menu-spacer {
    width: 80px;
    height: 100%;
}

.toolbar.toolbar-medium {
    height: 55px;
}

.example-spacer {
    flex: 1 1 auto;
}

app-site-creator {
    .gjs-pn-options {
        right: 25%;
        top: 0;
    }

    .gjs-pn-views-container {
        height: auto;
        padding: 0;
        right: 0;
        top: 40px;
        width: auto;
        max-width: 250px;
        min-width: 200px;
        overflow: auto;
        max-height: 60%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding-top: 40px;
    }

    .gjs-pn-options {
        right: 0;
        top: 0;
    }

    .gjs-clm-tags {
        font-size: 0.75rem;
        padding: 0px 5px 10px 5px;
    }

    .gjs-pn-commands {
        width: 75%;
        left: 0;
        top: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .gjs-pn-views {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        border-bottom: none;
        width: 100%;
        right: unset;
        z-index: 4;
        top: 0;
    }

    .gjs-cv-canvas {
        background-color: rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 40px);
        bottom: 0;
        overflow: hidden;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 40px;
    }

    .grab-handler {
        left: 0;
        position: absolute;
        height: 100%;
        cursor: grab;
        left: 11px;
        top: 8px;
    }

    .gjs-pn-btn {
        font-size: 3vmin;
    }
}

.link {
    cursor: pointer !important;
}

.link:hover {
    color: #69f0ae !important;
}
